[Unit]
Description=Marzban Node Rust Service
Documentation=https://github.com/gozargah/Marzban-node
After=network.target nss-lookup.target

[Service]
ExecStart=/usr/local/bin/marzban-node
Restart=on-failure
EnvironmentFile=-/etc/marzban-node.env

[Install]
WantedBy=multi-user.target
